body {
  font-family: Arial;
  background: #1e1e2e;
  color: #fff;
  text-align: center;
  padding: 20px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
button {
  background: #ff0044;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
